<style type="text/css">
  #jobs-block table { 
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
  }
  #jobs-block tr:first-child td {
    border-bottom-width: 3px;
    border-bottom: 1px solid #ccc;

  }

  #jobs-block th, td { 
    border-bottom: 1px dashed #ccc; 
    text-align: left; 
    padding: 1em;    
}
</style>

<section class="block block-one-column-1">
  <div class="container">
    <div class="columns">
      <div class="column"><a name="{{ section.anchor }}"></a>
        {% if section.content_source %}
        {% capture my_include %}{% include {{ section.content_source }} %}{% endcapture %}
        {{ my_include | markdownify }}
        {% else %}
        <h3>{{ section.headline }}</h3>
        <p>{{ section.content }}</p>
        {% endif %}
      </div>        
    </div>
  </div>

  <div id="jobs-block" class="container">
    <div class="columns">
      <div class="column">
        <a name="jobs"></a>
        <p>
            {% capture my_include %}{% include markdown/jobs.md %}{% endcapture %}
            {{ my_include | markdownify }}
        </p>
      </div>        
    </div>
  </div>
</section>
