<section class="block block-hero-2" 
{% if section.background_image %}
style="background-image: url('{{ section.background_image | relative_url }}')"
{% endif %}>
  <div class="container">
    <div class="columns">
      <div class="column text">
        <h1><span class="light">{{ section.headline }}</span></h1>
        <p>{{ section.content }}</p>
        {% if section.cta and section.cta.enabled == true %}
        <a class="button primary inverted" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
        {% endif %}
      </div>
      <div class="column media">
        <img src="{{ section.image.image | relative_url }}" alt="{{ section.image.alt_text }}">
      </div>
    </div>
  </div>
  <div class="container" style="position: absolute; bottom: 5em;">
    <figure style="text-align: center;">
      <img src="{{ "uploads/2018/06/21/comcast_logo-small.png" | relative_url }}" alt="Comcast Logo" style="width: 150px;">
    </figure>
  </div>

</section>